Options -Indexes
RewriteEngine On

# Redirect all requests to index.php if file/folder not exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]